*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding: 0.8em 15em;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    z-index: 2;
    background-color: rgba(255, 127, 80, 0.849);
}

header p{
    color: white;
    font-family: sans-serif;
    padding-top: 5px;
}

header input{
    height: 2.3em;
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 5px;
    border: 2px solid orangered;
    padding-left: 7px;
    color: white;
}

header input:focus{
    outline: 1px white solid;
    border: 1px white solid;
}

header select{
    border-radius: 4px;
    background-color: rgba(255, 68, 0, 0.836);
    color: white;
    padding: 0.5em;
    border: 2px red solid;
}

header select option{
    background-color: white;
    font-size: 1.2em;
    color: black;
}

header button{
    padding: 0.6em;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: sans-serif
}

header button:focus{
    outline: 3px solid salmon;
}

header button:hover{
    background: none;
    padding: 0.4em;
    border: 3px red solid;
}

body{
    background-image: url("pexels-katerina-holmes-5905475.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5%;
    font-family: 'Didact Gothic', sans-serif;
}

#showResult{
    display: flex;
    justify-content: center;
    align-content: center;
}

table{
    border: 5px red solid;
    border-collapse: collapse;
    background-color: rgba(255, 68, 0, 0.836);
    width: 100%;
}

td{
    border: 2px red solid;
    padding: 3px;
}